<section class="container">

    <div class="row  titulo d-flex justify-content-center my-3">
        <h1 class="font-weight-bold ">Historial de Compras</h1>
    </div>

    <div class="row">

        <div class="factura ">

            <div class="row m-0 mt-1" style="height: 40px;">
                <div class="col-md-4">
                    <form class="mt-2">
                        <div class="form-group caja2 row mx-0">
                            <label for="staticpago"
                                class="col-sm-3 col-form-label caja2 p-0 font-weight-bold d-flex align-items-center">Pedido
                                N°</label>
                            <div class="col-sm-9 caja2">
                                <input type="number" readonly
                                    class="form-control-plaintext caja2 font-weight-bold d-flex align-items-center"
                                    id="staticpago" value="000000001">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="e col-md-4">
                    <button type="button" class="btn btn-md btn-success px-5  rounded-pill"
                        disabled>Entregado</button>
                </div>
                <div class="col-md-4 p-0">
                    <div class="col-md-4">
                        <form class="mt-2 d-flex justify-content-end">
                            <div class="form-group caja2 row  ">
                                <label for="staticpago"
                                    class="col-sm-5 col-form-label caja2 p-0 font-weight-bold d-flex align-items-center">Fecha
                                    de entrega</label>
                                <div class="col-sm-7 caja2">
                                    <input type="date" readonly
                                        class="form-control-plaintext caja2 font-weight-bold d-flex align-items-center"
                                        id="staticpago" value="">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row m-0">
                <div class=" col-md-4 m-0 p-2 ">
                    <div class="tabla form-group overflow-auto ">
                        <table class="table border">
                            <thead>
                                <tr>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">Bananas</td>
                                    <td>2</td>
                                    <td>$</td>
                                </tr>
                                <tr>
                                    <td scope="row">Leche</td>
                                    <td>4L</td>
                                    <td>$</td>
                                </tr>
                                <tr>
                                    <td scope="row">Galletas oreo</td>
                                    <td>8</td>
                                    <td>$</td>
                                </tr>
                                <tr>
                                    <td scope="row">Bananas</td>
                                    <td>2</td>
                                    <td>$</td>
                                </tr>
                                <tr>
                                    <td scope="row">Leche</td>
                                    <td>4L</td>
                                    <td>$</td>
                                </tr>
                                <tr>
                                    <td scope="row">Galletas oreo</td>
                                    <td>8</td>
                                    <td>$</td>
                                </tr>
                                <tr>
                                    <td scope="row">Bananas</td>
                                    <td>2</td>
                                    <td>$</td>
                                </tr>
                                <tr>
                                    <td scope="row">Leche</td>
                                    <td>4L</td>
                                    <td>$</td>
                                </tr>
                                <tr>
                                    <td scope="row">Galletas oreo</td>
                                    <td>8</td>
                                    <td>$</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="col-md-8 w-auto p-2 ">
                    <div class="flow p-3 formulario ">
                        <h3 class="font-weight-bold">Resumen de compra</h3>
                        <form class="formulario my-3">
                            <div class="form-group caja row mx-0 mb-2">
                                <label for="staticpago" class="col-sm-3 col-form-label caja p-0">Metodo de
                                    pago</label>
                                <div class="col-sm-9 caja border p-0">
                                    <input type="text" readonly class="form-control-plaintext caja pl-2"
                                        id="staticpago" value="----------">
                                </div>
                            </div>
                            <div class="form-group caja row mx-0 mb-2">
                                <label for="staticpago" class="col-sm-3 col-form-label caja p-0">Subtotal</label>
                                <div class="col-sm-9 caja border p-0">
                                    <input type="number" readonly class="form-control-plaintext caja pl-2"
                                        id="staticpago" value="111111111">
                                </div>
                            </div>
                            <div class="form-group caja row mx-0 mb-2">
                                <label for="staticpago" class="col-sm-3 col-form-label caja p-0">Envio</label>
                                <div class="col-sm-9 caja border p-0">
                                    <input type="number" readonly class="form-control-plaintext caja pl-2"
                                        id="staticpago" value="111111111">
                                </div>
                            </div>
                            <div class="form-group caja row mx-0 mb-2">
                                <label for="staticpago" class="col-sm-3 col-form-label caja p-0">Total</label>
                                <div class="col-sm-9 caja border p-0">
                                    <input type="number" readonly class="form-control-plaintext caja pl-2"
                                        id="staticpago" value="111111111">
                                </div>
                            </div>
                            <div class="form-group caja row mx-0 mb-2">
                                <label for="staticpago" class="col-sm-3 col-form-label caja p-0">Direccion</label>
                                <div class="col-sm-9 caja border p-0">
                                    <input type="text" readonly class="form-control-plaintext caja pl-2"
                                        id="staticpago" value="----------">
                                </div>
                            </div>
                            <div class="form-group caja row mx-0 mb-2">
                                <label for="staticpago" class="col-sm-3 col-form-label caja p-0">Cliente</label>
                                <div class="col-sm-9 caja border p-0">
                                    <input type="text" readonly class="form-control-plaintext caja pl-2"
                                        id="staticpago" value="----------">
                                </div>
                            </div>
                            <div class="form-group caja row mx-0 mb-2">
                                <label for="staticpago" class="col-sm-3 col-form-label caja p-0">Numero</label>
                                <div class="col-sm-9 caja border p-0">
                                    <input type="number" readonly class="form-control-plaintext caja pl-2"
                                        id="staticpago" value="111111111">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="flow">
                        <button type="button" class="btn btn-outline-danger ml-3 px-5 rounded-pill">Volver a
                            pedir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="factura my-3">
            <div class="row m-0 mt-1" style="height: 40px;">
                <div class="col-md-4">
                    <form class="mt-2">
                        <div class="form-group caja2 row mx-0">
                            <label for="staticpago"
                                class="col-sm-3 col-form-label caja2 p-0 font-weight-bold d-flex align-items-center">Pedido
                                N°</label>
                            <div class="col-sm-9 caja2">
                                <input type="number" readonly
                                    class="form-control-plaintext caja2 font-weight-bold d-flex align-items-center"
                                    id="staticpago" value="000000001">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="e col-md-4">
                    <button type="button" class="btn btn-md btn-success px-5  rounded-pill"
                        disabled>Entregado</button>
                </div>
                <div class="col-md-4 p-0">
                    <div class="col-md-4">
                        <form class="mt-2 d-flex justify-content-end">
                            <div class="form-group caja2 row  ">
                                <label for="staticpago"
                                    class="col-sm-5 col-form-label caja2 p-0 font-weight-bold d-flex align-items-center">Fecha
                                    de entrega</label>
                                <div class="col-sm-7 caja2">
                                    <input type="date" readonly
                                        class="form-control-plaintext caja2 font-weight-bold d-flex align-items-center"
                                        id="staticpago" value="">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row m-0">
                <div class=" col-md-4 m-0 p-2 ">
                    <div class="tabla form-group overflow-auto ">
                        <table class="table border">
                            <thead>
                                <tr>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">Bananas</td>
                                    <td>2</td>
                                    <td>$</td>
                                </tr>
                                <tr>
                                    <td scope="row">Leche</td>
                                    <td>4L</td>
                                    <td>$</td>
                                </tr>
                                <tr>
                                    <td scope="row">Galletas oreo</td>
                                    <td>8</td>
                                    <td>$</td>
                                </tr>
                                <tr>
                                    <td scope="row">Bananas</td>
                                    <td>2</td>
                                    <td>$</td>
                                </tr>
                                <tr>
                                    <td scope="row">Leche</td>
                                    <td>4L</td>
                                    <td>$</td>
                                </tr>
                                <tr>
                                    <td scope="row">Galletas oreo</td>
                                    <td>8</td>
                                    <td>$</td>
                                </tr>
                                <tr>
                                    <td scope="row">Bananas</td>
                                    <td>2</td>
                                    <td>$</td>
                                </tr>
                                <tr>
                                    <td scope="row">Leche</td>
                                    <td>4L</td>
                                    <td>$</td>
                                </tr>
                                <tr>
                                    <td scope="row">Galletas oreo</td>
                                    <td>8</td>
                                    <td>$</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="col-md-8 w-auto p-2 ">
                    <div class="flow p-3 formulario ">
                        <h3 class="font-weight-bold">Resumen de compra</h3>
                        <form class="formulario my-3">
                            <div class="form-group caja row mx-0 mb-2">
                                <label for="staticpago" class="col-sm-3 col-form-label caja p-0">Metodo de
                                    pago</label>
                                <div class="col-sm-9 caja border p-0">
                                    <input type="text" readonly class="form-control-plaintext caja pl-2"
                                        id="staticpago" value="----------">
                                </div>
                            </div>
                            <div class="form-group caja row mx-0 mb-2">
                                <label for="staticpago" class="col-sm-3 col-form-label caja p-0">Subtotal</label>
                                <div class="col-sm-9 caja border p-0">
                                    <input type="number" readonly class="form-control-plaintext caja pl-2"
                                        id="staticpago" value="111111111">
                                </div>
                            </div>
                            <div class="form-group caja row mx-0 mb-2">
                                <label for="staticpago" class="col-sm-3 col-form-label caja p-0">Envio</label>
                                <div class="col-sm-9 caja border p-0">
                                    <input type="number" readonly class="form-control-plaintext caja pl-2"
                                        id="staticpago" value="111111111">
                                </div>
                            </div>
                            <div class="form-group caja row mx-0 mb-2">
                                <label for="staticpago" class="col-sm-3 col-form-label caja p-0">Total</label>
                                <div class="col-sm-9 caja border p-0">
                                    <input type="number" readonly class="form-control-plaintext caja pl-2"
                                        id="staticpago" value="111111111">
                                </div>
                            </div>
                            <div class="form-group caja row mx-0 mb-2">
                                <label for="staticpago" class="col-sm-3 col-form-label caja p-0">Direccion</label>
                                <div class="col-sm-9 caja border p-0">
                                    <input type="text" readonly class="form-control-plaintext caja pl-2"
                                        id="staticpago" value="----------">
                                </div>
                            </div>
                            <div class="form-group caja row mx-0 mb-2">
                                <label for="staticpago" class="col-sm-3 col-form-label caja p-0">Cliente</label>
                                <div class="col-sm-9 caja border p-0">
                                    <input type="text" readonly class="form-control-plaintext caja pl-2"
                                        id="staticpago" value="----------">
                                </div>
                            </div>
                            <div class="form-group caja row mx-0 mb-2">
                                <label for="staticpago" class="col-sm-3 col-form-label caja p-0">Numero</label>
                                <div class="col-sm-9 caja border p-0">
                                    <input type="number" readonly class="form-control-plaintext caja pl-2"
                                        id="staticpago" value="111111111">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="flow">
                        <button type="button" class="btn btn-outline-danger ml-3 px-5 rounded-pill">Volver a
                            pedir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

