<div class="m-2">
    <h2 class="text-center">Producto</h2>
    <table class="table">
      <thead class=" text-light bg-info">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Marca</th>
          <th scope="col">Precio</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Eliminar</th>
          <th scope="col">Actualizar</th>
        </tr>
      </thead>
      <tbody *ngFor="let producto of productos;let i=index">
        <tr>
          <th scope="row">{{ i+1 }}</th>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.marca }}</td>
          <td>{{ producto.precio }}</td>
          <td>{{ producto.cantInventario }}</td>
          <td><button type="button" class="btn btn-danger btn-sm py-0 px-3">Eliminiar</button></td>
          <td><button type="button" class="btn btn-warning btn-sm py-0 px-3">Actualizar</button></td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-success">Crear producto</button>
  </div>