<main class="m-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <p class="h1 textoNaranja"><strong>Detalle de Compra</strong></p>
        </div>
      </div>
      <div class="row m-2 bordeSuperiorVerde">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 bordeLateralDer">
          <div class="row mt-2">
            <div class="col-6">
              <h4>Producto</h4>
            </div>
            <div class="col-2">
              <h4>Precio</h4>
            </div>
            <div class="col-2">
              <h4>Cantidad</h4>
            </div>
            <div class="col-2">
              <h4>Subtotal</h4>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-6 form-inline">
              <img src="../../../../assets/img/uvas.jpg" class="img-fluid" alt="Responsive image"  width="100px">
              <p class="ml-3">
                Uvas<br>
                445gr <br>
                Iland <br>
                Vendido por: Super Ahorro
              </p>
            </div>
            <div class="col-2 align-middle">
              <h4>$11.859</h4>
            </div>
            <div class="col-2">
              <select class="custom-select align-middle" id="inlineFormCustomSelectPref">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            <div class="col-2 align-middle">
              <h4>$11.850</h4>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-6 form-inline">
              <img src="../../../../assets/img/sandia.jpg" class="img-fluid" alt="Responsive image"  width="100px">
              <p class="ml-3">
                Sandia <br>
                445gr <br>
                Ilandia <br>
                Vendido por: Super Ahorro
              </p>
            </div>
            <div class="col-2 align-middle">
              <h4>$11.859</h4>
            </div>
            <div class="col-2">
              <select class="custom-select align-middle" id="inlineFormCustomSelectPref">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            <div class="col-2 align-middle">
              <h4>$11.850</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="row mt-2 ml-1">
            <div class="col-12">
              <h3>TOTAL</h3>
            </div>
            <div class="col-12 mt-2">
              <p class="h4 text-danger">$50.000</p>
            </div>
            <div class="col-12 mt-2">
              <a class="btn btn-naranja btn-block" role="button">Finalizar Compra</a>
            </div>
            <div class="col-12 mt-4 text-center">
              <a class="btn btn-light btn-block" role="button">Seguir Comprando</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
