<div>
    <h1 class="titulo1">Frutas y verduras</h1>
    <hr class="lineas">
  </div>
  <div class="contenedor2">
    <div class="row pl-3">
      <div class="col-2">
        <img class="pt-1" src="../../../assets/img/baseline_filter_list_white_18dp.png" alt="">
      </div>
      <div class=" col-2">
        <p class="text-white pt-1">Filtrar</p>
      </div>
      <div class=" col-2">
        <p class="text-white pt-1">Marca</p>
      </div>
      <div class="col-2">
        <img class="pt-1" src="../../../assets/img/baseline_keyboard_arrow_down_white_18dp.png" alt="">
      </div>
      <div class=" col-2">
        <p class="text-white pt-1">Sección</p>
      </div>
      <div class="col-2">
        <img class="pt-1" src="../../../assets/img/baseline_keyboard_arrow_down_white_18dp.png" alt="">
      </div>

    </div>
  </div>
  <div>
    <h2 class="titulo2">Frutas</h2>
    <hr class="lineas">
  </div>
  <!--Fin barra filtros-->

  <!--Main-->
  <main role="main">
    <div class="album py-5 ">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="imgProductos pt-1 pr-1 pl-1" src="../../../assets/img/uvas.jpg" alt="">
              <div class="card-body">
                <p class="card-text">Uvas granel</p>
                <p>Precio $x.xxx</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary text-white">Agregar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="imgProductos pt-1 pr-1 pl-1" src="../../../assets/img/sandia.jpg" alt="">
              <div class="card-body">
                <p class="card-text">Sandía</p>
                <p>Precio $x.xxx</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary text-white">Agregar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="imgProductos pt-1 pr-1 pl-1" src="../../../assets/img/platanos.jpg" alt="">
              <div class="card-body">
                <p class="card-text">Plátanos granel</p>
                <p>Precio $x.xxx</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary text-white">Agregar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mb-4">
      <button class=" btn2 text-white" type="submit">Mostrar más</button>
    </div>
  </main>
