header nav a img
{
    height: 100px;
    width: 120px;
}
header nav div div div img
{
    height: 50px;
    width: 50px;
}

.botones {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(100, 216, 55);
    background-color: rgb(100, 216, 55);
}
.bordes {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 5px;
    
    border-color: rgb(100, 216, 55);
     }
     .hrs {
        width: 100%;
        height: 100%;
        border-style: solid;
        border-width: 1px;
        
        border-color: rgb(100, 216, 55);
         }

.textoNaranja {
    color: #ff8a48;
}

.bordeSuperiorVerde{
    width: 100%;
    height: 100%;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: rgb(100, 216, 55);
}

.bordeLateralDer{
    width: 100%;
    height: 100%;
    border-right-style: solid;
    border-right-width: 5px;
    border-right-color: #9199a6;
}

.btn-naranja {
    background-color: #ff8a48;
    color: #fff;
    border-radius: 20px;
    font-size: 25px;
}















.logo1 {
    height: 80px;
    width: 100px;
  }
  .catNavbar {
    height: 60px;
    width: 60px;
  }
  .buscador1 {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 700px;
  }
  .listaCategorias {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .lineas{
    background-color: #68d93c;
    width: 75%;
    height: 3px;
  }
  .barraCategoria{
    margin-right: 50px;
  }
  .titulo1 {
    text-align: center;
    margin-top: 30px;
    color: #FF9052;
  }
  .container {
    background-color: white;
  }
  .contenedor2 {
    background-color: black;
    margin-left: 100px;
    margin-right: 100px;
  }
  .form-control{
    display: inline;
    margin-right: 100px;
  }
  .titulo2 {
    margin-top: 30px;
    margin-left: 200px;
    color:  #FF9052;
  }
  .card {
    border-color: #68d93c;
    border-top-width: 5px;
    border-left-width: 5px;
    border-bottom-width: 5px;
    border-right-width: 5px;
    width: 350px;
    display: flex;
  }
  .imgProductos{
    width: 340px;
    height: 230px;
  }
  .btn2 {
    border-color: white; 
    background-color: #FF9052;
    width: 200px;
    height: 60px;
    border-radius: 91px 91px 91px 91px;
    -moz-border-radius: 91px 91px 91px 91px;
    -webkit-border-radius: 91px 91px 91px 91px;
  }
  .btn{
    padding: 0 40px;
    position: static;
    border-color: #68d93c;
    background-color:  #FF9052;
  }
  .img-fluid {
      height: 50px;
      width: 500px;
  }
  .img-logo{
      width: 405px;
      height: 350px;
  }
  
  
  .categoria {
    width: 100%;
    background-color: white ;
  }
  
  