<div class="m-2">
    <h2 class="text-center">Usuario</h2>
    <table class="table">
      <thead class=" text-light bg-secondary">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Ocupacion</th>
          <th scope="col">Correo</th>
          <th scope="col">Eliminar</th>
          <th scope="col">Actualizar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>23589335</td>
          <td><button type="button" class="btn btn-danger btn-sm py-0 px-3">Eliminiar</button></td>
          <td><button type="button" class="btn btn-warning btn-sm py-0 px-3">Actualizar</button></td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-success">Crear Usuario</button>
  </div>
