.fondoVerde {
    background-color: rgb(100, 216, 55);
}

.bordeVerde {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(100, 216, 55);
    background-color: rgb(39, 38, 38);
}

.imgIconos {
    height: 80px;
    width: 80px;
}

.imgCli {
    height: 50px;
    width: 50px;
}