<!--Banner inicio-->
<div class="container-fluid fondoVerde p-3">
  <div class="row">
    <div class="col-md-4 col-lg-4 col-xl-4 text-center text-dark">
      <img class="imgIconos" src="../../../assets/img/002-comprar.svg" alt=""> 
      <p class="h3">Compras Seguras</p>
    </div>
    <div class="col-md-4 col-lg-4 col-xl-4c text-center text-dark">
      <img class="imgIconos" src="../../../assets/img/001-productos-lacteos.svg" alt="">
      <p class="h3">Miles de Productos</p> 
    </div>
    <div class="col-md-4 col-lg-4 col-xl-4 text-center text-dark">
      <img class="imgIconos" src="../../../assets/img/003-pago-en-linea.svg" alt="">
      <p class="h3">Pago en linea</p> 
    </div>
  </div>
</div>
<!--Banner fin-->

<footer>
    <div class="container-fluid bg-dark ">
      <div class="row p-3">
        <div class="col-md-4 col-lg-4 col-xl-4 p-3">
          <div class="bordeVerde">
            <p class="h2 mb-4 text-center text-white">
              <strong>Informacion Legal</strong>
            </p>
            <p class="h4 text-center text-white">
              Terminos y condiciones <br> <br>
              Politicas de Privacidad <br> <br>
              Proteccion de propiedad intelectual <br> <br>
              Localiza tu tienda <br>
            </p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 p-3">
          <div class="bordeVerde">
            <p class="h2 mb-4 text-center text-white">
              <strong>Contactanos</strong>
            </p>
            <p class="h4 p-3 text-white">
              WEB:
            </p>
            <p class="h4 p-3 text-white">
              Tienda:
            </p>
            <p class="h4 p-3 text-white">
              Cliente:
            </p>

          </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4">
          <img src="../../../assets/img/Logo.png" class="img-fluid" alt="Responsive image">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-4 col-xl-4">
          <div class="bordeVerde text-center text-white d-flex align-items-center">
            <p class="h5 ">
              Haz tus compras con estos métodos de pago
            </p>
          </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xl-8">
          <div class="bordeVerde text-center">
            <img src="../../../assets/img/tarjetas.png" class="img-fluid" alt="Responsive image">
          </div>
        </div>
      </div>
    </div>
  </footer>
