<div class="contenedor">
    <div class="container">
        <section class="row">
            <div class="col-md-4 col-lg-4 col-xl-4 offset"></div>
            <div class="col-md-4 col-lg-4 col-xl-4">
                <div class="cajaBlanca p-5 mb-3 rounded">
                    <div class="row text-center">
                        <div class="col-12">
                            <img src="../../../assets/img/logoNombre.png" class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="col-12 mt-1">
                            <h2 class="textoNaranja">Accede a tu cuenta</h2>
                        </div>
                        <div class="col-12">
                            <h5>Elige una de las siguientes opciones</h5>
                        </div>
                        <div class="col-12 mt-3" c>
                            <button type="button" class="btn btn-outline-light btn-block rounded textoBoton">Ingresar con cuenta</button>
                        </div>
                        <div class="col-12 mt-3">
                            <button type="button" class="btn btn-danger btn-block rounded textoBoton">Ingresar con
                                Google</button>
                        </div>
                        <div class="col-12 mt-3">
                            <button type="button" class="btn btn-primary btn-block rounded textoBoton">Ingresar con
                                 Facebook</button>
                        </div>
                        
                        <div class="col-12 mt-3">
                            <p>
                                Acepto los términos y condiciones marketplace y autorizo el tratamiento de mis datos
                                personales con las siguientes condiciones <br>
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Acepto</label>
                            </p>
                        </div>
                        <div class="col-12 mt-1">
                            <p>
                                ¿Eres nuevo en Super Ahorro? <span class="textoNaranja">Registrate ahora</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>